.hovered {
	background: pink;
	outline: 1px solid magenta;
	/*transition: all .2s ease-in-out;
	transform: scale(1);*/
}

.movie-thumb.hovered {
	/*transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transition: all .2s ease-in-out;*/
}